/* ::-moz-selection {
  background: var(--primary-color);
  color: var(--bg-light);
}

::-webkit-selection,
::selection {
  background: var(--primary-color);
  color: var(--bg-light);
} */

/* Config de tamanho */
.details-projects::-webkit-scrollbar,
.description-technologies::-webkit-scrollbar,
.experiencie-description-local-two::-webkit-scrollbar {
  width: 0.8rem; /* width of the entire scrollbar */
}

.details-projects::-webkit-scrollbar-track,
.description-technologies::-webkit-scrollbar-track,
.experiencie-description-local-two::-webkit-scrollbar-track {
  border-radius: 0.5rem;
}

.details-projects::-webkit-scrollbar-thumb,
.description-technologies::-webkit-scrollbar-thumb,
.experiencie-description-local-two::-webkit-scrollbar-thumb {
  border-radius: 0.5rem; /* roundness of the scroll thumb */
  border: 0.3rem solid; /* creates padding around scroll thumb */
}

/* Config de cores da barra de fundo para fundos dark  */

.details-projects::-webkit-scrollbar-track {
  background: var(--primary-color); /* color of the tracking area */
}

.details-projects::-webkit-scrollbar-thumb {
  background: var(--primary-color); /* color of the scroll thumb */
  border-color: var(--bg-light); /* creates padding around scroll thumb */
}

/* Config de cores da barra de fundo para fundos light  */

.description-technologies::-webkit-scrollbar-track,
.experiencie-description-local-two::-webkit-scrollbar-track {
  background: var(--brand-beige); /* color of the tracking area */
}

.description-technologies::-webkit-scrollbar-thumb,
.experiencie-description-local-two::-webkit-scrollbar-thumb {
  background: var(--bg-light); /* color of the scroll thumb */
  border-color: var(--primary-color); /* creates padding around scroll thumb */
}